---
navPages:
    - title: Home
      url: /index.html
    - title: Store
      url: /store
    - title: Connect
      url: /connect
    -title: Wholesale
      url: /wholesale
    -title: Photos
      url: /photos 
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ELS Farm: Home</title>
    <link rel="stylesheet" href="/Styles/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                {%- for entry in navPages %}
                <li {% if entry.title == name %} class="selected" {% endif %} >
                <a href="{{ entry.url }}">{{ entry.title }}</a>
                </li>
                {%- endfor %}
            </ul>
        </nav>
    </header>
    <main>
     {{content}}
    </main>
</body>

</html>