
  @import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inter:wght@400;700&family=Raleway:wght@400;700&family=Sanchez&display=swap');

body {
    font-family: Sanchez, Arial, Helvetica;
    margin: 1em;
}
nav{@property --logo-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #c0ffee;
  }
    border: 1px solid black;
}
.flex-inline {
    display: flex;
}
.spreadout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.job-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.job-list div {
max-width: 800px;
}
.spreadout div {
    max-width: 600px;
    }
.photos img {
    
    height: 200px;
    width: 200px;
    object-fit: cover;
}
img.medium{
    width: 790px;
}
.flex-vertical{
    display: flex;
    flex-direction: column;
}
button{
    max-width: 250px;
    width: 250px;
    height: 40px;
}
.job-list{
    max-width: 500px;
    text-align: center;
}
nav ul{
    
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 4em;
}
nav {
    background-color: #F1A638;
}

nav ul li a {
text-decoration: none;
color: black;
font-weight: bold;
font-size: 24px;
}

li.selected a {
text-decoration: underline;
color: #fff;
}

.flex-example {
    display: flex;
    flex-wrap:wrap;
    border: 1px solid black;;

}

.flex-example p {
    flex-grow: 1;
    border: 1px solid purple;
    width: 600px;
}
body {
    --accent-color: #F1A638;
  }
  
  button {
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #333;
    border: none;
    font-family: Sanchez;
    font-weight: bold;
    text-align: center;
    color: #F1A638;
    
  }

  .hero-image {
    background-image: url("/Images/Home-image1.jpg");
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--black);
    
  }
  .side-by-side {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 1200px;
}
.side-by-side img {
   width: 600px; 
}

body {
--highlight-color: #F1A638;
--background-color: #dcd4d4;
--black: #000000;
}

main {
margin-bottom: 100px;
}
footer {
    background: var(--background-color);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
footer section div {
    display: flex;
}
footer section div p {
    margin: 5px;
}
.page-title {
    text-align: center;
}

    
    