
  @import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inter:wght@400;700&family=Raleway:wght@400;700&family=Sanchez&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
}
nav{
    border: 1px solid black;
}
.flex-inline {
    display: flex;
}
img {
    width: 400px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 4em;
}

nav ul li a {
text-decoration: none;
color: black;
font-weight: bold;
font-size: 24px;
}

li.selected a {
text-decoration: underline;
color: blueviolet;
}

.flex-example {
    display: flex;
    flex-wrap:wrap;
    border: 1px solid black;;

}

.flex-example p {
    flex-grow: 1;
    border: 1px solid purple;
    width: 600px;
}
body {
    --accent-color: #F1A638;
  }
  
  button {
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #333;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #F1A638;
    
  }

  .hero-image {
    background-image: url("/Images/Home-image1.jpg");
    background-position: center;  
      background-repeat: no-repeat;  
      background-size: cover;
      height: 70vh;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
  }